ANTHROPIC_API_KEY=your_anthropic_api_key_here

OPENAI_API_KEY=your_openai_api_key_here

GOOGLE_API_KEY=your_google_api_key_here

AZURE_API_KEY=your_azure_api_key_here
AZURE_ENDPOINT=your_azure_endpoint_here
AZURE_API_VERSION=your_azure_api_version_here

ENDPOINT_URL=http://0.0.0.0:8000/api/chat
ENDPOINT_START_URL=http://0.0.0.0:8000/api/start_conversation
ENDPOINT_API_KEY=your_endpoint_api_key_here